*{
    margin: 0px;
    padding: 0px;
}

/*  Nav Bar */
.container{
    
    height: 60px;
    width:100%;
    background-color: white;
    position: fixed;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
ul{
    display: flex;
    float: right;
}
ul li{
    list-style: none;
}
#ul-1{
    position:absolute;
    left:400px;
    top:10px;
    font-size: 30px;
   
    }
        #ul-1 li{
             color:rgb(23, 125, 145);
             cursor: pointer;
        }
        #ul-1 li:hover{
             color:linear-gradient(red,blue,yellow);
        }
#ul-2{
    position: absolute;
    top:10px;
    left:800px;
}
#ul-2 li{
    margin:0 10px 0 50px;
    font-size: 28px;
    cursor: pointer;
    color: black;
}
#ul-2 li:hover{
    color: rgb(63, 108, 118);
    border:3px solid rgb(38, 117, 135);
    border-left:none;
    border-right:none;
    border-top:none;
    border-radius: 1px;   
}


/* styling the color showing box */

.outer{
    width:100vw;
    height:100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.show-color{
    width:max-content;
    background-color:black ;
    height:70px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 30px 0px 30px;
    padding: 0 40px ;

}
.show-color:hover{
    background-color: rgb(32, 30, 30);
}
.back-color{
    color:white; 
}
.back-color:hover{
    color:rgb(46, 141, 141)
}
.color-name{
    width:max-content;
    height: 40px;
    padding-left: 5px;
}
#h1-show-color{
    color:rgb(40, 227, 234);
    cursor: pointer;
}
#h1-show-color:hover{
    color:rgb(123, 178, 231);
}
    
#btn{
    height: 35px;
    width: 90px;
    position: absolute;
    top:60vh;
    left: 100vh;
    font-size: 20px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(8, 90, 93);  
    color: #fff;
    border:2px solid #fff ;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: rgb(23, 125, 145);
}
